@model FinalExercise.Models.DiceBag

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DiceBag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Colors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etched)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etched)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Glow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Glow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
